.title {
    display: flex;
}
.title > div {
    flex: 1;
    background-color: rgba(0,0,0, 0.7);
    padding-left: 40px;
    padding-right: 40px;
}
.title h3 {
    margin-bottom: 0px;
    border-bottom: solid 2px darkred;
} 

.container {
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgba(0,0,0, 0.7);
}

.container > div {
    padding: 20px;
}
.container img {
    width: 100%;
    margin-bottom: 10px;

}


p {
    color:white;
}



/*** media screen 600px ***/
@media and screen (max-width:600px) {
    
    .container {
        flex-direction: column;
    }
}
