
.cart {
    background-color: rgba(255,255,255, 0.9);
        
    border-top: solid 2px #590000;
}

.checkout {
    padding: 15px;
    display: flex;
    border-top: solid 1px darkgray;
}

.checkout div:first-child {
    height: auto;
    line-height: 40px;
    text-align: center;
    flex: 1;
}
.checkout div:nth-child(2) {
    height: 90px;
    line-height: 40px;
    text-align: center;
    flex: 1.5;
}
.checkout div:nth-child(3) {
    height: 90px;
    line-height: 90px;
    text-align: center;
    flex: 1.5;
}
.checkout div:nth-child(4) {
    height: 90px;
    line-height: 90px;
    text-align: center;
    flex: 0.5;
}
.checkout div:last-child {
    height: 90px;
    line-height: 40px;
    text-align: center;
    flex: 1;
}


form {
    color: black;
    font-family: 'Poppins', 'sans-serif';
    font-size: 0.7em;
    letter-spacing: 1px;
}
input.qty {
    width: 40px;
}




.discount {
    border-top: solid 2px #590000;
    background-color: rgba(255,255,255, 0.7);
    padding: 35px;
    display: flex;
}
.discount div:first-child {
    padding: 20px;
    flex: 3;
}
.discount div:nth-child(2) {
    border: solid 1px darkgray;
    background-color: white;
    padding: 20px;
    text-align: center;
    margin: 0 auto;
    flex: 2;
}










/******MEDIA SCREEN 1100PX*****/
@media screen and (max-width: 1100px){
    .cart {
        margin-bottom: 0px;
    }
    .logo img {
        width: 50%;
    }
    .checkout {
        display: flex;
        flex-direction: column;
    }
    .checkout div:first-child {
        flex: 1;
    }
    .checkout div:nth-child(2) {
        font-size: 1.5em;
        flex: 1;
    }
    .checkout div:nth-child(3) {
        text-align: center;
        flex: 1;
    }
    .checkout div:nth-child(4) {
        height: 90px;
        line-height: 90px;
        text-align: center;
        flex: 1;
    }
    .checkout div:last-child{
        height: 90px;
        line-height: 40px;
        text-align: center;
        flex: 1;
    }
    
    
    .discount {
        flex-direction: column;
    }
    .discount div:first-child {
        flex: 1;
        text-align: center;
    }
    .discount div:nth-child(2) {
        flex: 1;
    }
    .discount div:last-child {
        flex: 1;
    }
    
    
    footer {
        flex-direction: column;
        text-align: center;
    } 
    .copyright {
        display: none;
    }
    h6 {
    text-align: center;
    font-family: 'Poppins', 'sans-serif';
}

}

