.fotocontainer {display: flex;
}
.namn {border:1px solid black;
padding:10px;
text-align: center;
flex-grow: 1;}

.formularadress {display: flex;
    border:1px solid black;
    
    
}

.formular form  {
    display: flex;
    flex-direction: column;
    
    
}
.formular {flex-grow: 2;}
.adress {flex-grow: 2;}


input, textarea {width: 60%;
background-color: lightgrey;}

button {width: 10%;}



