
.fotocontainer {
    display: flex;
}

.namn {
    border:1px solid black;
    padding:10px;
    text-align: center;
    flex-grow: 1;
}

.formularadress {
    display: flex;
  



.contactcontainer {background-color: rgba(0,0,0, 0.7)}
.namn {
padding:10px;
text-align: center;
flex-grow: 1;}

.formularadress {
   margin-left: 20px; 

}



.formular {
    display: flex;
    flex-direction: column;

}

    }

.formular {flex-grow: 2;}
.adress {flex-grow: 2;}


.formular {
    flex: 2;
}

.adress {
    flex: 1;
}


input, textarea {width: 300px;
background-color: lightgrey;
}

button {width: 10%;}

p {color: white}



a {text-decoration:none;
color:darkred}

