.contactcontainer {
    background-color: rgba(0,0,0, 0.7);
    box-shadow: 0 0 200px rgba(0,0,0,0.9) inset;
}

.fotocontainer {
    display: flex;
}

.namn {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    flex-grow: 1;
}

.formularadress {
    display: flex;
    margin-left: 20px; 
}


.formular {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
}

input, textarea {
    width: 280px;
    background-color: lightgray;
}

button {
    width: 100px;
}

p {
    color: white
}


a {
    text-decoration: none;
    color: darkred;
}



/*** media screen 600 ***/
@media screen and (max-width: 600px){
    .fotocontainer {
        flex-direction: column;
    }
    .namn {
        flex:1;
    }
    form {
        text-align: center;
    }
}



