
.container-game{
  display:flex;

}

.game-box{
  flex:1;
  display:flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding:10px;
}

.game-box h2,.game-box h4{
  color: black;
}

.box1{
  flex:1;

}
.box1 img{
  position: relative;
  width: 80%;
  margin: 2% 10%;
}
.game-box button{
  width: 80%;
  margin: 20px auto;
}

.rating .fa{
  color: gold;
}

.rating h2,.game-box h2{
  border-bottom: 2px solid darkred;

}
