/*******CONTENT********/

.contentutvald {
    display: flex;
    background-color: rgba(0,0,0, 0.5);
    padding: 40px;
    justify-content: space-between;
    font-size: 1em;
}
.contentutvald div:first-child {
    flex: 2;
}
.contentutvald div:last-child {
    margin: auto;
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
    flex: 1;
}

.content {
    background-color: rgba(0,0,0, 0.5);
    display: flex;
    justify-content: space-between;
    padding: 40px;
    font-size: 1em;
}
.content div:first-child {
    flex: 1;
    padding: 10px;
}
.content div:nth-child(2) {
    flex: 1;
    padding: 10px;
}
.content div:last-child {
    flex: 1;
    padding: 10px;
}

/****  menu settings added 2017-11-02***/
#toggle-menu{
  display: none;
}
.menu-on{
  display: none;
}
.menu-off{
  display: none;
}
/****  menu settings end **/
