/*******CONTENT********/

.containerfeatured {
    display: flex;
    background-color: rgba(0,0,0, 0.7);
    padding: 40px;
    justify-content: space-between;
    font-size: 1em;
}
.containerfeatured div:first-child {
    flex: 2;
}
.containerfeatured div:last-child {
    margin: auto;
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
    flex: 1;
}

.containerhome {
    background-color: rgba(255,255,255, 0.8);
    display: flex;
    justify-content: space-between;
    padding: 40px;
    font-size: 1em;
    color: black;
    border-top: 2px double darkred;
}
.containerhome div:first-child {
    flex: 1;
    padding: 10px;
}
.containerhome div:nth-child(2) {
    flex: 1;
    padding: 10px;
}
.containerhome div:last-child {
    flex: 1;
    padding: 10px;
}

/****  menu settings added 2017-11-02***/
#toggle-menu {
  display: none;
}
.menu-on {
  display: none;
}
.menu-off {
  display: none;
}
/****  menu settings end **/
