body {
    margin: 0 auto;
    padding: 0;
    background-color: black;
    background-image: url(../img/background.PNG);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.logo {
    text-align: center;
    padding-bottom: 30px;

}

.contentwrapper {
    color: white;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5%;
    margin-bottom: 10%;
    -webkit-animation: fadein 2.5s;
    animation: fadein 2.5s;
}

    @keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}




/******MENU********/
.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.8);
    text-shadow: -1px 0 black, 0 2px black, 2px 0 black, 0 -1px black;
    font-family: 'Righteous', sans-serif;
    font-size: 0.8em;
}

.menu li {
    float: left;
}

.menu li a {
    display: block;
    color: #FFF;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.menu li a:hover {
    background-color: #000;
    color: darkred;
    transition: 0.4s;
}




/*******FOOTER*******/
footer {
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    font-size: 0.8em;
    padding: 40px;
    display: flex;
}


.om {
    padding: 10px;
    flex: 1;
}

.om ul {
    list-style: none;
}
.om a, .kontaktaoss a {
    color: white;
}


.betalning {
    padding: 10px;
    flex: 1;
}


.kontaktaoss {
    padding: 10px;
    flex: 1;
}

/******STYLING********/


h1 {
    font-family: 'Righteous', 'sans-serif';
    color: white;
    letter-spacing: 2px;
}
h2 {
    font-family: 'Righteous', 'sans-serif';
    color: white;
    letter-spacing: 2px;
}
h3 {
    font-family: 'Righteous', 'sans-serif';
    color: white;
    letter-spacing: 2px;
}
p {
    font-family: 'Roboto', 'sans-serif';
    font-size: 0.7em;
    letter-spacing: 1px;
}

.p1 {
    
}

.p2 {
    
}

.p3 {
    
}

