/**** Default settings for media ***/
#toggle-menu{
  display: none;
}
.menu-on{
  display: none;
}
.menu-off{
  display: none;
}


/**** Default settings End**/
@media screen and (max-width: 1500px) {
  .contentwrapper{
    margin-left: 5%;
    margin-right: 5%;
  }

}

@media screen and (max-width: 900px){


  .contentwrapper{
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  }

  /*** Menu settings  ***/

  .menu ul{
    top: 10px;
    right: 10px;
    display: none;
  }

  .menu-on{
    color: white;
    font-size: 2em;
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 5px;
    z-index: 1050;
    display: block;
  }
  .menu-off{
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    position: fixed;
    background-color: rgba(179, 71, 15, 0.27);
  }

  #toggle-menu:checked ~.menu ul{
    display: block;
  }
  #toggle-menu:checked ~.menu-off{
    display: block;
  }
  #toggle-menu{
    display: none;
  }
  .menu ul{
    position: fixed;
    right: 0px;
    z-index: 1000;
  }
  .menu ul li{
    display: block;
    float: none;
    right: 0px;

  }
  .menu ul li a{
    display: block;
    width: 200px;
    float: none;
    text-align: left;
  }

    /*** Menu settings  END ***/


    /****INDEXCONTAINERS****/
    .containerfeatured {
        display: flex;
        flex-direction: column;
    }
    .containerfeatured div:first-child {
        flex: 1;
    }
    .containerfeatured div:last-child {
        flex: 1;
    }
    .containerhome {
        flex-direction: column;
    }
    .containerhome div:first-child {
        flex: 1;
    }
    .containerhome div:nth-child(2) {
        flex: 1;
    }
    .containerhome div:last-child {
        flex: 1;
    }
    footer {
        flex-direction: column;
        text-align: center;
    }
    .copyright {
    display: none;
    }
      /****INDEXCONTAINERS END ****/




}

@media screen and (max-width: 600px){
  body{
    background-image: url(../img/gamingbgmobil.jpeg);
  }

  /*** PRODUCTCONTAINER  ***/

.containerProduct{
  flex-direction: column;

}
.game{
  width: 80%;
  height: auto;
  margin: auto;
  margin-bottom: 10px;
}
/*** PRODUCTCONTAINER END ***/
}



/******MEDIA SCREEN 450PX*****/
@media screen and (max-width: 450px){

  /**** General settings for page ****/
    .contentwrapper {
        margin-bottom: 0px;
    }
    .logo img {
        width: 100%;
    }

    footer {
        flex-direction: column;
        text-align: center;
    }
    .copyright {
    display: none;
    }
    /**** General settings for page  END ***/



}
