* {
 margin: 0;
 padding: 0;
/* box-sizing: border-box;*/

}

.containerProduct{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin-top:15px;
}

.game{

  flex: 0 0 auto;
  height: 400px;
  width: 250px;
  padding: 10px;
  margin:10px;
  border-radius: 5px;
  text-overflow: clip;

}
.game>img{
  margin-left: 0px;
  margin-top: 10px;
  width: 100%;

}

.game>div>h4
{
  font-family: roboto, serif;
  text-align: center;
  margin-bottom: 5px;
}
.game h3{
  color: black;
  margin-bottom: 5px;
}
.gameHeader{
  margin-top: 10  px;
}
.rating{

  padding-top: 5px;
  text-align: center;
  color: yellow;
  height: 20px;
}


.game:last-child{
  margin-bottom: 50px;
}
.game .text{
  height: 165px;


}
.game a{
  text-decoration: none;
    font-weight: 600;
}



.tilt {

  -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}





.tilt:hover h3{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    color: white;
   transform: scale(1.5,1.5);
   -webkit-transform: rotate(-90deg);
   -moz-transform: rotate(-90deg);
     -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
        transform: rotate(-90deg);
   position: absolute;
   background-color: rgba(255, 0, 0, 0.8);
   left: -225px;
   top:  195px;
   width: 155%;
   text-align: center;
   text-shadow: 0.5px 0.5px 0.5px darkred, 10px 5px 25px darkred, 0 0 0.2px;

}

.tilt:hover img{

    box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.tilt:hover{

  z-index: 1000;
   transform: scale(1.1, 1.1);
  margin-left: 6px;
  margin-right: 5px;
  margin-top: -2px;
  border: 1px darkred solid;
  box-shadow: 4px 4px 8px 4px rgba(186, 6, 11, 0.50), 0 6px 20px 0 darkred;

}
