* {
 margin: 0;
 padding: 0;

}

.containerProduct{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin-top:15px;
}

.game{

  flex: 0 0 auto;
  height: 400px;
  width: 250px;
  padding: 10px;
  margin:10px;
  border-radius: 5px;
  text-overflow: clip;

}
.game>img{
  margin-left: 0px;
  margin-top: 10px;
  width: 100%;

}

.game>div>h4
{
  font-family: roboto, serif;
  text-align: center;
  margin-bottom: 5px;
}
.game h3{
  color: black;
  margin-bottom: 5px;
}
.gameHeader{
  margin-top: 10  px;
}
.rating{

  padding-top: 5px;
  text-align: center;
  color: yellow;
  height: 20px;
}


.game:last-child{
  margin-bottom: 50px;
}
.game .text{
  height: 165px;


}
.game a{
  text-decoration: none;
    font-weight: 600;
}
